/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

:root {
	--color-primary: blue;
	--color-secondary: #c00;
}

/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/

.content-container {
	margin: auto;
	height: 600px;
	width: 600px;
	align-items: center;
}

h1 {
	color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-text-stroke: 1px black;
	font-size: 60px;
	text-align: center;
	padding-top: 150px;
}

.original {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 28px;
	text-align: center;
}

.green {
	color: cyan;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 28px;
	text-align: center;
}

.disappear {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 28px;
	text-align: center;
}

.buttons {
	text-align: center;
}

.color {
	margin-right: 20px;
}

button {
	text-transform: uppercase;
	color: white;
	background: black;
	padding: 10px 15px;
	border: black solid 2px;
	border-radius: 15px;
}

button:hover {
	color: black;
	background: white;
	border: black solid 2px;
	transition: 0.5s;
}

